@import './variables/_sizes';

.book {
    padding: 24px;
    height: 416px;
    max-width: 900px;
    display: flex;
    box-shadow: 4px 4px 10px $book-container-shadow;
    margin-top: 20px;
    margin-left: 20px;
}

.book-title-container {
    margin-right: 52px;

    &:first-child {
        border-bottom: 4px solid $earls-green;
        padding: 0 0 12px 0;
        width: 540px;
    }
}

.book-title {
    font-size: $large-size;
    font-weight: bold;
}

.book-title-genre {
    font-size: $medium-size;
    color: $grey;
    padding-left: 8px;
    font-weight: bold;
}

.book-info-container {
    margin-top: 36px;
}

.book-info-attribute {
    font-size: $small-size;
    font-weight: bold;
}

.book-info-value {
    font-size: $small-size;
    color: $grey
}

.book-image {
    margin-right: 52px;
    height: 368px;
}

.book-image-container {
    position: relative;

    &:after {
        transform: rotate(15deg);
        background: url('../img/badge.png') no-repeat;
        background-size: contain;
        height: 120px;
        width: 95px;
        content: '';
        position: absolute;
        top: -20px;
        right: 20px;
    }
}

.back-button {
    position: relative;
    left: 30px;
    top: 10px;

    &::before {
        background: url('../img/back-arrow.png') no-repeat;
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        left: -25px;
        
    }
}
