@import './variables/_sizes';

.navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    box-shadow: 0 4px 10px 0 $book-container-shadow;
    background-color: $white;
    border-top: 6px solid $cerulean;
}

.wolox-logo {
    margin-left: 244px;
}

.logout-text {
    font-size: $navbar-size;
    line-height: 21px;
    text-align: center;
}